/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7eadfc;
}

/* WhatsApp */
.styles-module_whatsappButton__tVits {
  display: block !important;
  position: relative !important;
  background-color: transparent !important;
  bottom: -0.2rem !important;
  right: 1rem !important;
  box-shadow: none !important;
}

.styles-module_whatsappButton__tVits::after {
  animation: none !important;
}

.styles-module_whatsappButton__tVits svg {
  padding: 12px !important;
}

.styles-module_whatsappButton__tVits svg:hover {
  fill: #7eadfc !important;
}

.styles-module_notificationIndicator__gVmjV {
  display: none !important;
}

.styles-module_chatHeader__gaeOA {
  background-color: #7eadfc !important;
}